<launch>

    <!-- 设置launch文件的参数 -->
    <arg name="world_name" value="$(find robot_simulation)/worlds/robocup_home.world"/>
    <arg name="paused" default="false" />
    <arg name="use_sim_time" default="true" />
    <arg name="gui" default="true" />
    <arg name="headless" default="false" />
    <arg name="debug" default="false" />

    <!-- 运行gazebo仿真环境 -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)" />
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)" />
        <arg name="use_sim_time" value="$(arg use_sim_time)" />
        <arg name="headless" value="$(arg headless)" />
    </include>

    <!-- 加载机器人模型描述参数  来自胡春旭 -->
    <param name="robot_description"
        command="$(find xacro)/xacro --inorder '$(find robot_simulation)/urdf/robotv1.xacro'" />

    <!-- 运行joint_state_publisher节点，发布机器人的关节状态  -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"></node>

    <!-- 运行robot_state_publisher节点，发布tf  -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        output="screen">
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <!-- 在gazebo中加载机器人模型-->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -x 0.0 -y -0.0 -model mbot -param robot_description" />


    <!-- Spawn the objects into Gazebo -->
    <node name="bed" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find robot_simulation)/models/bed.model -x 5.0 -y -3.9 -z 0 -Y 3.14159 -urdf -model bed" />
    <node name="sofa" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find robot_simulation)/models/sofa.model -x -1.0 -y -3.9 -z 0 -Y 1.57 -urdf -model sofa" />
    <node name="bookshelft" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find robot_simulation)/models/bookshelft.model -x 2.0 -y -0.55 -z 0 -Y -1.57 -urdf -model bookshelft" />
    <node name="cupboard_0" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find robot_simulation)/models/cupboard.model -x -2.0 -y 0.7 -z 0 -Y 1.57 -urdf -model cupboard_0" />
    <node name="cupboard_1" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find robot_simulation)/models/cupboard.model -x -1.3 -y 3.7 -z 0 -Y -1.57 -urdf -model cupboard_1" />


   


</launch>