<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="scan_topic" default="scan" />
    <arg name="base_frame" default="base_footprint"/>

    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen"
        clear_params="true">
        <param name="base_frame" value="$(arg base_frame)"/>
        <remap from="scan" to="$(arg scan_topic)"/>
        
        <param name="odom_frame" value="odom" />
        <!-- 地图更新时间 秒   -->
        <param name="map_update_interval" value="0.2" />

        <!-- Set maxUrange < actual maximum range of the Laser 传感器最大范围 -->
        <param name="maxRange" value="7.0" />

        <!--  探测最大可用范围，光束可达范围 -->
        <param name="maxUrange" value="6.5" />
        <!-- 地图分辨率 default:0.05 -->
        <param name="delta" value="0.05" />

        <!-- linearUpdate(default: 1.0),每当机器人平移这么远才扫描一次。小场景的话应该改小一点。 -->
        <param name="linearUpdate" value="0.5" />
        <!-- angularUpdate(default: 0.5),每当机器人旋转这么多才扫描一次。小场景的话应该改小一点。-->
        <param name="angularUpdate" value="0.5" />
        <!-- temporalUpdate(default: -1.0),当最后一次更新是x秒以前就自动更新一次-->
        <param name="temporalUpdate" value="-1.0" />
        <param name="xmin" value="-10.0" />
        <param name="ymin" value="-10.0" />
        <param name="xmax" value="10.0" />
        <param name="ymax" value="10.0" />

        <!-- 每次扫描跳过的光束数 -->
        <param name="lstep" value="0.05" />

        <!-- 滤波器中粒子数目 -->
        <param name="particles" value="30" />
    </node>

</launch>